/* variable import from variable.css file */
@import url(./variables.css);

/* fonts import from fonts.css file */
@import url(./fonts.css);

/* header */
header .container .nav-item .nav-link {
  font-family: var(--roboto);
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: #141313;
}

header .container .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

header .container .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.carousel-item {
  padding: 20px;
}

/* Carousel Btn Background and color change */
.button {
  margin-top: 0.6rem;
  padding: 0.6rem 1.5rem;
  font: normal 500 16px/20px var(--roboto);
  position: relative;
  border: 2px solid #fa0366cc;
  border-radius: 4px;
}

.button.primary-button {
  background: var(--gradient-color);
  background-clip: padding-box;
  color: #f5f5f5;
  box-shadow: var(--box-shadow);
}

.button.primary-button:hover {
  background: #f5f5f5;
  background-clip: padding-box;
  color: #000;
}

.button.primary-button:active {
  /* background: var(--gradient-color); */
  font-weight: 500;
  box-shadow: 0 0 0 0 black;
  transition: box-shadow 0.1s ease, transform 0.4s ease;
  transform: scaleY(1.1);
}

/* Secondary Button*/
.button.secondary-button {
  background: var(--gradient-color);
  background-clip: padding-box;
  color: #f5f5f5;
  box-shadow: var(--box-shadow);
}

.button.secondary-button:hover {
  background: #f5f5f5;
  background-clip: padding-box;
  color: #000;
}

.button.secondary-button:active {
  /* background: var(--gradient-color); */
  font-weight: 500;
  box-shadow: 0 0 0 0 black;
  transition: box-shadow 0.1s ease, transform 0.4s ease;
  transform: scaleY(1.1);
}

.prize {
  color: #ec2576;
}

/* =========== Start Category Section ============== */
.category-section {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.category-section .container .col-lg-4,
.category-section .container .col-sm-12 {
  display: flex;
  justify-content: center;
}

/* .category-section .container .col-lg-4 > .single-brand > .col-lg-6 {
  display: flex;
  align-items: center;
} */

.category-section .container .col-lg-4 > .single-brand {
  border: 1px solid red;
  text-align: center;
  padding: 0.8rem 0rem;
  margin: 0.9rem 0;
  cursor: pointer;
  transition: transform 0.4 ease;
  border-radius: 10px;
}

.category-section .container .col-lg-4 > .single-brand img {
  width: 50%;
}

.category-section .container .col-lg-4 > .single-brand:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
}

.category-section .container .col-lg-4 > .single-brand h1 {
  color: #f5f5f5;
  font-family: var(--roboto);
}
/* =========== End Category Section ============== */

/* =========== Start Shoes & Bag Category Items Section ============== */
.shoe-category-items .container .card-deck .card,
.bag-category-items .container .card-deck .card {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
}

.shoe-category-items .container .card-deck .card:hover,
.bag-category-items .container .card-deck .card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* =========== End Shoes & Bag Category Items Section ============== */
