/* variable import from variable.css file */
@import url(./variables.css);

/* fonts import from fonts.css file */
@import url(./fonts.css);

/* header */
header .container .nav-item .nav-link {
  font-family: var(--roboto);
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: #141313;
}

header .container .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

header .container .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.carousel-item {
  padding: 20px;
}

/* Carousel Btn Background and color change */
.button {
  margin-top: 0.6rem;
  padding: 0.6rem 1.5rem;
  font: normal 500 16px/20px var(--roboto);
  position: relative;
  border: 2px solid #fa0366cc;
  border-radius: 4px;
}

.button.primary-button {
  background: var(--gradient-color);
  background-clip: padding-box;
  color: #f5f5f5;
  box-shadow: var(--box-shadow);
}

.button.primary-button:hover {
  background: #f5f5f5;
  background-clip: padding-box;
  color: #000;
}

.button.primary-button:active {
  background: var(--gradient-color);
  color: #f5f5f5;
  box-shadow: 0 0 0 0 black;
  transition: box-shadow 0.1s ease, transform 0.4s ease;
  transform: scaleY(1.1);
}

.prize {
  color: #ec2576;
}
